.app_specialMenu{
    display: flex;
    flex-direction: column;
    background-color:var(--color-black);
}

.app__specialMenu-title{
    text-align: center;
    margin-bottom:2rem;
}

.app__specialMenu-menu{
    width:100%;

    margin:2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.app__specialMenu_menu_heading{
    font-family: Cormorant Upright;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 45px;
    line-height: 130%;
    font-size:45px;
}

.app__specialMenu-menu_cocktails,
.app__specialMenu-menu_wine{
    display:flex;
    flex-direction: column;
    justify-content:center;
    flex:1;
    width:100%;
}

.app__specialMenu-menu_img{
    width: 444px;
    margin:0 2rem;
}

.app__specialMenu-menu_img img{
    width: 100%;
    height: auto;
}


.app__specialMenu_menu_items{
    display:flex;
    flex-direction:column;

    margin:2rem 0;
    width:100%;
}

@media screen and (min-width:2000px){
    
}
@media screen and (max-width:900px){
    .app__specialMenu-menu{
        width:100%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .app__specialMenu-menu_img{
        margin: 2rem 0;
    }
}
@media screen and (max-width:650px){
    .app__specialMenu_menu_heading{
        font-size:35px;
        line-height: 48.5px;
    }
    .app__specialMenu-menu_img{
        width: 100%;
    }
    
}